<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nomadlab.myappone">
    <!--
        xml 문법 입니다.
         manifest 란 우리가 만들고 있는 앱에 전체적인 지도 역활을 합니다.
         여기를 보게 되면 어떠한 화면들이 있는지 각각에 어떠한 것들을 하는지 등등을
         알 수 있다.

         패키지 명 설명 - new 실행 모습 보여 주기
         package="com.nomadlab.myappone"
         패키지 명은 세상에 있는 모든 앱들 중에서 고유 해야 한다.

        application 태그 - 앱에 풀네임 입니다 (

        1.
        android:allowBackup="true"
        좋아요, 로그인을 해 놨던 부분들이 다 기억이 되어 있습니다.
        삭제 후 앱을 다시 설치 하게 된다면
        그 이유는 allowBackup true 로 설정해 놓으면 일정 부분 백업을 해두고
        다시 불러 올 수 있습니다.

        2.
        android:icon="@mipmap/ic_launcher"
        @태그는 경로를 의미한다.
        가상 디바이스에서 모습 보여 주기

        3. android:label="@string/app_name"
        우리에 앱 이름 입니다.

        4.  android:roundIcon="@mipmap/ic_launcher_round"
        핸드본 마다 아이콘을 그리는 기본설정이 다릅니다.
        동그라미 방식을 그리는 핸드폰은 여기 이미지를 사용하게 됩니다.

        5. android:supportsRtl="true"
        right to left - 중동권에 사는 사람이 우리 앱을 설치하게 되면
        글씨들이 뒤집어서 나오게 됩니다. (알아서 텍스트들이 좌우 변환 되서 나온다)

        6. android:theme="@style/Theme.MyAppOne"
        우리가 설정한 적이 없습니다. 그 이유는 style 때문에 나오게 됩니다.
        개발자에 편의성을 제공 하기 위해 앱에 기본값들이 셋팅 됩니다.
        디자이너 또는 상황에 따라서 theme 속성은 변경하게 됩니다.

        7.  <activity
        안드로이서 하나의 화면 입니다. - 다시 설명하게 됩니다.
        이 앱에는 지금 하나의 화면이 존재 합니다.
        activity 에 이름은 .MainActivity 입니다.
        java - 패키지명 아래 - 이름이 동일 합니다.

        )

        8. intent-filter 나중에 배우게 됩니다.
        액티비티 안에 인텐트 필터가 있다
        속성입니다. - 속성에 LAUNCHER가 있습니다.
        LAUNCHER 속성은 이 액티비티를 런처로 만들어 주는 속성 입니다.
        앱을 켰을 때 최초로 켜질 화면을 의미 합니다.
    -->
    <application

        android:allowBackup="true"


        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppOne">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>